@charset "UTF-8";
.link {
  text-decoration: none; }

.botones {
  transition: 0.5s; }

.botones:hover {
  transform: scale(1.1); }

.contacto {
  margin: 0px 1vh;
  width: 30px;
  height: 30px;
  border-radius: 7px;
  background-color: beige; }

footer {
  text-align: center;
  width: 100%; }
  footer ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-inline-start: 0; }
    footer ul li {
      display: flex;
      align-items: center;
      justify-content: center; }

@media (min-width: 576px) {
  .contacto {
    width: 50px;
    height: 50px;
    margin: 5vh;
    border-radius: 7px; } }

.logo {
  border: solid 0px black;
  border-radius: 100%;
  box-shadow: .2vh .2vh 5px black;
  width: 30px;
  height: 30px; }

.barra_navegacion {
  width: 100%;
  z-index: 100;
  background-color: beige;
  height: 50px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0; }

.barra_navegacion_divs {
  margin: 0 1vh;
  display: flex;
  justify-content: start;
  align-items: center; }

.navegacion {
  padding-inline-start: 0px;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around; }
  .navegacion li {
    display: flex;
    align-items: center;
    justify-content: center; }
    .navegacion li a {
      margin: 0 5px;
      background-color: #c6f5b4;
      border-radius: 5px;
      box-shadow: 1px 1px 4px #539b36;
      padding: 5px; }

@media (min-width: 380px) {
  .barra_navegacion {
    justify-content: space-around;
    padding: 10px 1vh 0 1vh; } }

@media (min-width: 800px) {
  .logo {
    width: 45px;
    height: 45px; }
  .barra_navegacion {
    height: 70px; }
  .barra_navegacion_divs {
    width: 50%;
    display: flex;
    justify-content: start;
    align-items: center; }
  .navegacion {
    display: flex;
    align-items: center;
    justify-content: space-around; }
    .navegacion li {
      display: flex;
      align-items: center;
      justify-content: center; }
      .navegacion li a {
        background-color: #c6f5b4;
        border-radius: 5px;
        box-shadow: 1px 1px 4px #539b36;
        padding: 5px; } }

.item-ajustes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.ajustes-perfil {
  background-color: #c6f5b4;
  padding: 0 10px 10px 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 4px #539b36;
  border-radius: 2rem; }
  .ajustes-perfil img {
    margin: 0 auto;
    width: 100px;
    background-color: beige;
    border-radius: 100%; }
  .ajustes-perfil button {
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #539b36;
    color: beige;
    box-shadow: 1px 1px 4px #539b36;
    border: none;
    border-radius: .25rem; }
  .ajustes-perfil input {
    border-radius: .25rem;
    border: 1px solid #539b36;
    padding-left: 10px; }

.ajustes-cuenta {
  background-color: #c6f5b4;
  padding: 0 10px 10px 10px;
  width: 90%;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 4px #539b36;
  border-radius: 2rem; }
  .ajustes-cuenta button {
    width: 50%;
    margin: 0 auto;
    background-color: #539b36;
    color: beige;
    box-shadow: 1px 1px 4px #539b36;
    border: none;
    border-radius: .25rem; }
  .ajustes-cuenta input {
    border-radius: .25rem;
    border: 1px solid #539b36;
    padding-left: 10px; }

.ajustes-cuenta-nueva-cuenta {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .ajustes-cuenta-nueva-cuenta button {
    min-width: 85px;
    width: 15%; }

#email-cuenta-nueva, #contraseña-cuenta-nueva {
  width: 40%; }

@media (min-width: 760px) {
  .ajustes-perfil, .ajustes-cuenta {
    width: 50%;
    padding: 0 20px 20px 20px; } }

.buscador-amigos {
  padding: 0px auto; }
  .buscador-amigos div {
    max-width: 400px;
    margin-top: 1rem;
    border: 1px solid #afc2a7;
    border-radius: 5px; }

.lista-amigos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.item-lista-amigos {
  padding: 10px;
  margin: 20px;
  max-width: 400px;
  width: 50%;
  box-shadow: 1px 1px 4px #539b36;
  border-radius: 15px;
  background-color: #c6f5b4;
  transition: 0.5s; }

.item-lista-amigos:hover {
  transform: scale(1.1); }

.img-amigos {
  width: 50px;
  background-color: beige;
  border-radius: 100%; }

@media (min-width: 350px) {
  .img-amigos {
    width: 90px; } }

.editar-perfil:hover, .editar-perfil:active {
  text-decoration: underline !important; }

.formulario_contacto {
  padding: 20px; }
  .formulario_contacto div label {
    font-weight: 800; }

#contacto_email {
  margin-left: 35px !important; }

#contacto_nombre, #contacto_email {
  border: 1px solid #539b36;
  width: 170px;
  margin: 2vh; }

#contacto_mensaje {
  border: 1px solid #539b36;
  width: 100%;
  margin-top: 2vh;
  height: 130px; }

#contacto_enviar {
  width: 100%;
  background-color: #539b36;
  color: beige;
  box-shadow: 1px 1px 4px #539b36;
  border: none;
  border-radius: .25rem; }

.jugar {
  min-width: 165px;
  width: 20%;
  margin: 0 auto;
  background-color: #c6f5b4;
  padding: 5px 0;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #539b36; }
  .jugar h2 {
    margin: 0; }

#jugar {
  animation-name: un_efecto;
  animation-iteration-count: infinite;
  animation-delay: 0s;
  animation-timing-function: ease;
  animation-duration: 2s; }

@keyframes un_efecto {
  0% {
    width: 300px; }
  50% {
    width: 165px; }
  100% {
    width: 300px; } }

.texto_centrado, .subir {
  text-align: center; }

.subir {
  min-width: 60px;
  margin: 0 auto;
  background-color: #c6f5b4;
  border-radius: 5px;
  width: 10%;
  position: sticky;
  bottom: 0; }

.orden_index {
  background-color: #afc2a7;
  border-radius: 20px;
  position: relative;
  margin-top: 20px;
  padding: 7vh; }

.lista_principal {
  padding-inline-start: 0;
  list-style: none; }
  .lista_principal li, .lista_principal p {
    text-align: justify; }

.izquierda {
  position: absolute;
  top: -2px;
  left: 15px; }

.derecha {
  position: absolute;
  top: -2px;
  right: 15px; }

.perfil {
  display: flex;
  justify-content: center;
  align-content: center; }

#grid-contenedor-perfil {
  border-radius: 15px;
  padding: 30px; }

.perfil_imagen {
  width: 5rem; }

div#nombre1 {
  font-weight: 800; }

div#email1 {
  font-weight: 800; }

div#nivel1 {
  font-weight: 800; }

#imgPerfil {
  display: flex;
  justify-content: center;
  align-items: center; }

#editar {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800; }
  #editar a {
    text-decoration: none; }
    #editar a :active, #editar a :hover {
      text-decoration: underline; }

@media (min-width: 730px) {
  .perfil_imagen {
    width: 9rem; }
  #grid-contenedor-perfil {
    display: grid;
    grid-template-areas: "imagen imagen" "nombre1 nombre2" "email1 email2" "nivel1 nivel2" "editar editar";
    height: 50vh;
    width: 40%;
    align-items: center;
    justify-items: center; }
  div#imgPerfil {
    grid-area: imagen; }
  div#nombre1 {
    grid-area: nombre1; }
  div#nombre2 {
    grid-area: nombre2; }
  div#email1 {
    grid-area: email1; }
  div#email2 {
    grid-area: email2; }
  div#nivel1 {
    grid-area: nivel1; }
  div#nivel2 {
    grid-area: nivel2; }
  div#editar {
    grid-area: editar; } }

* {
  font-family: 'Raleway', sans-serif;
  color: black; }

body {
  background-color: beige; }

main {
  padding-top: 1vh; }

.section_principal, .div_principal {
  margin-top: 12vh; }

h1 {
  font-size: 3rem;
  font-weight: bold; }
