*{
    font-family: 'Raleway', sans-serif;
    color: black;
}
body{
    background-color: beige;
}
.logo{
    border: solid 0px black;
    border-radius: 100%;
    box-shadow: .2vh .2vh 5px black;
    width: 30px;
    height: 30px;
}
.barra_navegacion{
    z-index: 100;
    background-color: beige;
    text-align: center;
    width: 100%;
    height: 10vh;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
    position: fixed;
    top: 0;
}
.barra_navegacion_divs{
    margin: auto;
    display: flex;
    flex-direction: row;
}
.navegacion{
    padding-inline-start: 0;
    width: 100%;
   list-style: none;
   display: flex;
    align-items: center;
    justify-content: center;
    li{
        margin: 0px 1vh;
        display: flex;
        align-items: center;
        justify-content: center;
        a{
            background-color: $verde-claro;
            border-radius: 5px;
            box-shadow: 1px 1px 4px $verde-medio;
            padding: 5px;
        }
    }
}
.perfil{
    display: flex;
    justify-content: center;
    align-content: center;
}
#grid-contenedor-perfil{
    border-radius: 15px;
    padding: 30px;
}
.perfil_imagen{
    width: 5rem;
}
div#nombre1{
    font-weight: 800;
}
div#email1{
    font-weight: 800;
}
div#nivel1{
    font-weight: 800;
}
#imgPerfil{
    display: flex;
    justify-content: center;
    align-items: center;
}
#editar{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    a{
        text-decoration: none;
    }
    a:active{
        text-decoration: underline;
    }
}
main{
    padding-top: 1vh;
}
.section_principal, .div_principal{
    margin-top: 12vh;
}
h1{
    font-size: 3rem;
    font-weight: bold;
}
.texto_centrado, .subir{
    text-align: center;
}
.subir{
    min-width: 60px;
    margin: 0 auto;
    background-color: $verde-claro;
    border-radius: 5px;
    width: 10%;
    position: sticky;
    bottom: 0;
}
.orden_index{
    background-color: $verde-oscuro;
    border-radius: 20px;
    position: relative;
    margin-top: 20px;
    padding: 7vh;
}
.lista_principal{
    padding-inline-start: 0;
    list-style: none;
}
.izquierda{
    position: absolute;
    top: -2px;
    left: 15px;
}
.derecha{
    position: absolute;
    top: -2px;
    right: 15px;
}
.link{
    text-decoration: none;
}
.contacto{
    margin: 0px 1vh;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    background-color: beige;
}
footer{
    text-align: center;
    width: 100%;
    ul{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline-start: 0;
        li{
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
.formulario_contacto{
    padding: 20px;
    div label{
        font-weight: 800;
    }
}

#contacto_email{
   margin-left: 35px !important;
}
#contacto_nombre, #contacto_email{
    border: 1px solid $verde-medio;
    width: 170px;
    margin: 2vh;
}
#contacto_mensaje{
    border: 1px solid $verde-medio;
    width: 100%;
    margin-top: 2vh;
    height: 130px;
}
#contacto_enviar{
    background-color: $verde-claro;
    box-shadow: .2vh .2vh 5px $verde-medio;
    width: 100%;
    margin: 20px 0;
    border: 1px beige;
    border-radius: 5px;
}
.buscador-amigos{
    padding: 0px auto;
    div{
        max-width: 400px;
        margin-top: 1rem;
        border:1px solid $verde-oscuro;
        border-radius: 5px;
    }
}
.btn-outline-secondary:hover {
    color: beige;
    background-color: $verde-oscuro;
    border-color: $verde-oscuro;
}
.lista-amigos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item-lista-amigos{
    padding: 10px;
    margin: 20px;
    max-width: 400px;
    width: 50%;
    box-shadow: 1px 1px 4px $verde-medio;
    border-radius: 15px;
    background-color: $verde-claro;
}
.img-amigos{
    width: 50px;
    background-color: beige;
    border-radius: 100%;
}
@media(min-width: 375px){
    .img-amigos{
        width: 90px;
    }
}
.item-ajustes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ajustes-perfil, .ajustes-cuenta{
    background-color: $verde-claro ;
    padding: 0 10px 10px 10px;
    width: 90%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 4px $verde-medio;
    border-radius: 2rem;
}
.ajustes-perfil img{
    margin: 0 auto;
    width: 100px;
    background-color: beige;
    border-radius: 100%;
 }
 .ajustes-perfil button{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: $verde-medio;
    color: beige;
    box-shadow: 1px 1px 4px $verde-medio;
    border: none;
    border-radius: .25rem;
 }
.ajustes-perfil input{
    border-radius: .25rem;
    border: 1px solid $verde-medio;
    padding-left: 10px;
 }
 .ajustes-cuenta button{
    width: 50%;
    margin: 0 auto;
    background-color: $verde-medio;
    color: beige;
    box-shadow: 1px 1px 4px $verde-medio;
    border: none;
    border-radius: .25rem;
 }
 .ajustes-cuenta input{
    border-radius: .25rem;
    border: 1px solid $verde-medio;
    padding-left: 10px;
 }
 .ajustes-cuenta-nueva-cuenta{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }
 .ajustes-cuenta-nueva-cuenta button{
    min-width: 85px;
    width: 15%;
 }
 #email-cuenta-nueva, #contraseña-cuenta-nueva{
    width: 40%;
 }
 
@media (min-width: 760px) {
    .ajustes-perfil, .ajustes-cuenta{
        width: 50%;
        padding: 0 20px 20px 20px;
    }
}

@media(min-width: 576px){
    .logo{
        border: solid 0px black;
        border-radius: 100%;
        box-shadow: .2vh .2vh 5px black;
        width: 50px;
        height: 50px;
    }
    .barra_navegacion{
        padding-left: 0 10px;
        z-index: 100;
        background-color: beige;
        text-align: center;
        width: 100%;
        height: 10vh;
        padding-top: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
    }
    .barra_navegacion_divs{
        width: 50%;
        display: flex;
        flex-direction: row;
    }
    .navegacion{
        width: 100%;
       list-style: none;
       display: flex;
        align-items: center;
        justify-content: center;
        li{
            margin: 0px auto;
            display: flex;
            align-items: center;
            justify-content: center;
            a{
                background-color: $verde-claro;
                border-radius: 5px;
                box-shadow: 1px 1px 4px $verde-medio;
                padding: 5px;
            }
        }
    }
     
    .contacto{
        width: 50px;
        height: 50px;
        margin: 5vh;
        border-radius: 7px;
    }
    
}
@media(min-width: 730px){
    .perfil_imagen{
        width: 9rem;
    }
    #grid-contenedor-perfil{
        display: grid;
        grid-template-areas:
        "imagen imagen"
        "nombre1 nombre2"
        "email1 email2"
        "nivel1 nivel2"
        "editar editar";
        height: 50vh;
        width: 40%;
        align-items: center;
        justify-items: center;
       
    }
    div#imgPerfil{
    grid-area: imagen;
    }
    div#nombre1{
    grid-area: nombre1;
    }
    div#nombre2{
    grid-area: nombre2;
    }
    div#email1{
    grid-area: email1;
    }
    div#email2{
    grid-area: email2;
    }
    div#nivel1{
        grid-area: nivel1;
    }
    div#nivel2{
        grid-area: nivel2;
    }
    div#editar{
       grid-area: editar; 
    }
}