.formulario_contacto{
    padding: 20px;
    div label{
        font-weight: 800;
    }
}
#contacto_email{
   margin-left: 35px !important;
}
#contacto_nombre, #contacto_email{
    border: 1px solid $verde-medio;
    width: 170px;
    margin: 2vh;
}
#contacto_mensaje{
    border: 1px solid $verde-medio;
    width: 100%;
    margin-top: 2vh;
    height: 130px;
}
#contacto_enviar{
    width: 100%;
    background-color: $verde-medio;
    color: beige;
    box-shadow: 1px 1px 4px $verde-medio;
    border: none;
    border-radius: .25rem;
}