.jugar{
    min-width: 165px;
    width: 20%;
    margin: 0 auto;
    background-color: $verde-claro;
    padding: 5px 0;
    border-radius: 5px;
    box-shadow: 1px 1px 4px $verde-medio;
    h2{
        margin: 0;
    }
}
#jugar{
	animation-name: un_efecto;
	animation-iteration-count: infinite;
    animation-delay: 0s;
    animation-timing-function: ease;
	animation-duration: 2s;
}
@keyframes un_efecto{
	0%{
	width: 300px;
	}
	50%{
	width: 165px;
	}
	100%{
	width: 300px;
	}
}
.texto_centrado, .subir{
    text-align: center;
}
.subir{
    min-width: 60px;
    margin: 0 auto;
    background-color: $verde-claro;
    border-radius: 5px;
    width: 10%;
    position: sticky;
    bottom: 0;
}
.orden_index{
    background-color: $verde-oscuro;
    border-radius: 20px;
    position: relative;
    margin-top: 20px;
    padding: 7vh;
}
.lista_principal{
    padding-inline-start: 0;
    list-style: none;
    li, p{
        text-align: justify;
    }
}
.izquierda{
    position: absolute;
    top: -2px;
    left: 15px;
}
.derecha{
    position: absolute;
    top: -2px;
    right: 15px;
}
