.logo{
    border: solid 0px black;
    border-radius: 100%;
    box-shadow: .2vh .2vh 5px black;
    width: 30px;
    height: 30px;
}
@mixin flex-align-center{
    display: flex;
    align-items: center;
}
.barra_navegacion{
    width: 100%;
    z-index: 100;
    background-color: beige;
    height: 50px;
    padding-top: 10px;
    @include flex-align-center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
.barra_navegacion_divs{
    margin: 0 1vh;
    @include flex-align-center;
    justify-content: start;
}
@mixin links{
    background-color: $verde-claro;
    border-radius: 5px;
    box-shadow: 1px 1px 4px $verde-medio;
    padding: 5px;
}
.navegacion{
    padding-inline-start: 0px;
    width: 100%;
    list-style: none;
    @include flex-align-center;
    justify-content: space-around;
    li{
        @include flex-align-center;
        justify-content: center;
        a{
            margin: 0 5px;
            @include links;
        }
    }
}
@media(min-width: 380px){
    .barra_navegacion{
        justify-content: space-around;
        padding: 10px 1vh 0 1vh;
    }
}
@media(min-width: 800px){
    .logo{
        width: 45px;
        height: 45px;
    }
    .barra_navegacion{
        height: 70px;
    }
    .barra_navegacion_divs{
        width: 50%;
        @include flex-align-center;
        justify-content: start;
    }
    .navegacion{
        @include flex-align-center;
        justify-content: space-around;
        li{
            @include flex-align-center;
            justify-content: center;
            a{
                @include links;
            }
        }
    }
    
}